<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans+Thai&display=swap');

        * {
            font-family: "Fraunces", serif;
            font-size: 22px;
        }

        body {
            display: flex;
            background-color: #6e2b28;
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        h2 {
            font-size: 60px;
            color: #F2E9E4;
            margin-bottom: 40px;
        }

        .form-con {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        label {
            color: #F2E9E4;
            margin-bottom: 20px;
        }

        input {
            font-size: 20px;
            border: none;
            border-bottom: 1px solid #F0DFDB;
            background: transparent;
            width: 550px;
            color: #F0DFDB;
        }

        .submit-btn {
            padding: 13px;
            border-color: #F0DFDB;
            border-width: 1px;
            background-color: #d9a694;
            border-radius: 15px;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }

        .submit-btn:hover {
            background-color: #c48e80;
        }

        .login-btn {
            margin-top: 10px;
            text-decoration: none;
            color: #F2E9E4;
            font-size: 20px;
        }

        .login-btn:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form action="/api/emp_forgot" method="POST" onsubmit="return check()">
            <div class="form-group">
                <label>Email: </label>
                <input type="email" name="email" id="email">
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" id="password" name="password" onkeyup="checkPass()">
            </div>

            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" id="confirmPass" onkeyup="checkPass()">
                <p id="error_msg" class="error-message" style="color: red;"></p>
            </div>

            <input type="submit" name="Submit" class="submit-btn" value="Confirm Reset"><br>
            <a href="/emp/login" class="login-btn">< Back to Login</a></p>

        </form>
    </div>

    <script>
        function checkPass() {
            let pass = document.getElementById('password').value;
            let confirm = document.getElementById('confirmPass').value;
            let err_msg = document.getElementById('error_msg');

            if (confirm === "") {
                err_msg.textContent = "";
            } else if (confirm !== pass) {
                err_msg.textContent = "Password do not match!";
                err_msg.style.color = "red";
            } else {
                err_msg.textContent = "Password match";
                err_msg.style.color = "green";
            }
        }
        function check() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPass = document.getElementById('confirmPass').value;

            if (!email && !password) {
                alert('Please enter both email and password.');
                return false;
            }
            if (!email) {
                alert('Please enter email.');
                return false;
            }
            if (!password) {
                alert('Please enter password.');
                return false;
            }

            if (password !== confirmPass) {
                document.getElementById('error_msg').innerText = "Passwords do not match!";
                alert('Passwords do not match!');
                return false;
            }

            return true;
        }
    </script>
</body>

</html>