<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Management</title>
    <link href="/css/Home-Customer.css" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js_emp_ejs/emp.js"></script>
    <style>
        body {
            height: 100vh;
            background-color: #F0E9E9;
            /* background-color: #F0E9E9; */
        }

        .container {
            display: flex;
            justify-content: space-around;
        }

        .top-container {
            position: fixed;
            width: 100%;
            font-size: 16px;
            z-index: 1;
        }

        .sidebar {
            display: flex;
            height: 100vh;
            width: 250px;
            background-color: #d8bfbf;
            position: fixed;
            top: 60px;
            left: 0;
            justify-content: center;
        }

        .content {
            margin-top: 60px;
            margin-left: 250px;
            width: calc(100% - 50px);
            /* background-color: #F0E9E9; */
            min-height: calc(100vh - 60px);
            position: relative;
            
        }


    </style>
    <script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <div class="top-container">
        <%- include('topbar') %>
    </div>
    <div class="container">
        <div class="sidebar">
            <%- include('sidebar') %>
        </div>
        <div class="content">
            <%- include(body) %>
        </div>
    </div>
</body>

</html>