<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
</style>

<div class="container">
    <div class="head">
        <h1>Products</h1>
    </div>
</div>