<style>
    .menu {
        /*height: 100vh;*/
        display: flex;
        flex-direction: column;
        background-color: #BF8579;
        text-align: left;
        width: 100%;
    }

    .menu a {
        font-size: 18px;
        text-decoration: none;
        color: white;
        padding: 20px 30px;
    }

    .menu a:hover {
        background-color: #A56037;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

</style>

<div class="fixed top-15 left-0 w-63 h-full bg-[var(--color-softpink)] text-lg overflow-hidden">

    <div class="menu font-secondary">
        <a href="/emp/orders">
                <span class="pl-7">New Orders</span>
        </a>
    </div>

    <div class="menu font-secondary">
        <a href="/emp/myorders">
                <span class="pl-7">My Orders</span>
        </a>
    </div>

    <div class="menu font-secondary">
        <a href="/emp/category">
                <span class="pl-7">Products</span>
        </a>
    </div>

    <% if (user.role==='admin' ) { %>
        <div class="menu font-secondary">
            <a href="/emp/manages">
                    <span class="pl-7">Manage</span>
            </a>
        </div>
    <% } %>   
</div>