<footer id="Contact" class="bg-white py-5">
    <div class=" pl-40 pt-20 pb-10">
        <h1 class="font-logo text-6xl text-[var(--color-red)]">Contact</h1>
    </div>
    <div class="flex flex-row">
        <div class="pl-40 font-basetext select-text">
            <h2 class="p-3 text-2xl text-[var(--color-bs)]">Client Experience</h2>
            <p class="p-3 text-lg">Call : 0xx xxx xxxx</p>
            <p class="p-3 text-lg">Mon - Fri : 23.59 - 00.00 GMT+7</p>
            <p class="p-3 text-lg">Email : Celestar@gmail.com</p>
            <div class="p-3 pt-4">
                <button class="w-10 mr-5 hover:cursor-pointer">
                    <img src="icons8-instagram.svg">
                </button>
                <button class="w-10 mr-5 hover:cursor-pointer">
                    <img src="icons8-facebook (1).svg">
                </button>
                <button class="w-10 hover:cursor-pointer">
                    <img src="icons8-twitter-bird.svg">
                </button>
            </div>
        </div>
        <div class="pl-[30%]">
            <h2 class="p-3 text-2xl text-[var(--color-bs)]">Shopping</h2>
            <p class="p-2 text-lg font-thai hover:underline hover:cursor-pointer">วิธีสั่งซื้อสินค้า</p>
            <p class="p-2 text-lg font-thai hover:underline hover:cursor-pointer">วิธีชำระเงิน</p>
            <p class="p-2 text-lg font-thai hover:underline hover:cursor-pointer">แนบสลิปชำระเงิน</p>
            <p class="p-2 text-lg font-thai hover:underline hover:cursor-pointer">เช็คสถานะการสั่งซื้อ</p>
        </div>
    </div>
</footer>