<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js_cus_ejs/customer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Reset Password</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans+Thai&display=swap');

        * {
            font-family: "Fraunces", serif;
            font-size: 22px;
        }

        body {
            display: flex;
            background-color: #fff6f6;
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        h2 {
            font-size: 60px;
            color: #6e2b28;
            margin-bottom: 40px;
        }

        .form-con {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        label {
            color: #8c6658;
            margin-bottom: 20px;
        }

        input {
            font-size: 20px;
            border: none;
            border-bottom: 1px solid #c4a89c;
            background: transparent;
            width: 550px;
        }

        .submit-btn {
            padding: 13px;
            border-color: #6e2b28;
            border-width: 1px;
            background-color: #d9a694;
            border-radius: 15px;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }

        .submit-btn:hover {
            background-color: #c48e80;
        }

        .login-btn {
            margin-top: 10px;
            text-decoration: none;
            color: #6e2b28;
            font-size: 20px;
        }

        .login-btn:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form class="form-con">
            <div class="form-group">
                <label>Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" id="password" name="password" onkeyup="checkPass()">
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" id="confirmPass" onkeyup="checkPass()">
                <p id="error_msg" class="error-message" style="color: red;"></p>
            </div>
            <button class="submit-btn" onclick="change_pass(event)">Confirm Reset</button>
            <a href="/login" class="login-btn">< Back to Login</a></p>
        </form>
    </div>

    <script>
        function checkPass() {
            let pass = document.getElementById('password').value;
            let confirm = document.getElementById('confirmPass').value;
            let err_msg = document.getElementById('error_msg');

            if (confirm === "") {
                err_msg.textContent = "";
            } else if (confirm !== pass) {
                err_msg.textContent = "Password do not match!";
                err_msg.style.color = "red";
            } else {
                err_msg.textContent = "Password match";
                err_msg.style.color = "green";
            }
        }
    </script>
</body>

</html>