<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .bar a:hover {
    text-decoration: underline;
    color: var(--color-softbs);
    }

</style>

<div class="container mt-15 font-thai">
    <h1 class="font-logo text-6xl text-center text-[var(--color-red)]">My Account</h1>
    <h3 class="text-center pt-5 text-lg text-gray-500">หากไม่ได้รับสินค้า สามารถแจ้งได้ที่ Line: @celestar</h3>
    
    <div class="bar flex pt-5 justify-center gap-12 font-bold text-[var(--color-bs)] text-lg">
        <a href="/myorders">ข้อมูลผู้ใช้</a>
        <a href="/myorders?page=pending">รอดำเนินการ</a>
        <a href="/myorders?page=check">รอตรวจสอบ</a>
        <a href="/myorders?page=accept">ที่ต้องชำระเงิน</a>
        <a href="/myorders?page=decline">ออเดอร์ถูกปฏิเสธ</a>
        <a href="/myorders?page=paid">รับออเดอร์แล้ว</a>
        <a href="/myorders?page=success">จัดส่งสำเร็จ</a>
    </div>

    <div class="content">
        <% if (page === '') {%>
            <%- include('editAccount') %>
        <% } else { %>
            <%- include('orders') %>
        <% } %>
    </div>
    
</div>

