<!-- Side Bar -->
<nav class="fixed top-15 left-0 w-55 h-full bg-[var(--color-softpink)] text-lg overflow-hidden">

    <div class="group">
        <a href="#ต่างหู"><button
            class="menuButton w-full text-left pl-5 p-4 flex justify-items-start bg-[var(--color-pink)] text-white">
            <span class="pl-7">ต่างหู</span>
        </button> </a>
    </div>

    <div class="group">
        <a href="#สร้อยข้อมือ"><button
            class="menuButton w-full text-left pl-5 p-4 flex justify-items-start bg-[var(--color-pink)] text-white">
            <span class="pl-7">สร้อยข้อมือ</span>
        </button></a>
    </div>

    <div class="group">
        <a href="#สร้อยคอ"><button
            class="menuButton w-full text-left pl-5 p-4 flex justify-items-start bg-[var(--color-pink)] text-white">
            <span class="pl-7">สร้อยคอ</span>
        </button></a>
    </div>

    <div class="group">
        <a href="#แหวน"><button
            class="menuButton w-full text-left pl-5 p-4 flex justify-items-start bg-[var(--color-pink)] text-white">
            <span class="pl-7">แหวน</span>
        </button></a>
    </div>
</nav>