<header class="fixed z-50 bar-custom shadow-xl shadow-gray-600/10 w-full px-10 py-3 flex items-center gap-x-4">
    <h1 class="font-logo text-3xl" style="color: var(--color-red);">Celestar</h1>

    <div class="relative font-basetext text-sm flex-shrink-0">
        <input type="text" placeholder="Search"
            class="border rounded-full py-2 px-4 pl-10 focus:outline-none focus:ring custom-ring hover:ring custom-ring"
            style="--tw-ring-color: var(--color-red); border-color: var(--color-red);">
        <span class="absolute left-3 top-2 text-gray-800">
            <img src="search.svg" alt="Search Icon" class="w-5 h-5" >
        </span>
    </div>

    <nav class="ml-auto">
        <ul class="flex space-x-6 font-secondary" style="color: var(--color-red);">
            <li><a href="#" class="hover:underline">About</a></li>
            <li><a href="/product" class="hover:underline">Jewelry</a></li>
            <li><a href="#Contact" class="hover:underline">Contact</a></li>
            <%if (!user.isMember) {%>
                <li><a href="/login" class="hover:underline">Login</a></li>
                <li>/</li>
                <li><a href="/register" class="hover:underline">Sign in</a></li>
            <%}else{%>
                <li><a href="/profile" class="hover:underline"><%= user.email %></a></li>
                <li>/</li>
                <li>
                    <a href="#" onclick="document.getElementById('logoutForm').submit();" class="hover:underline">Logout</a>
                    <form id="logoutForm" action="/logout" method="POST" style="display: none;"></form>
                </li>
            <%}%>
        </ul>
    </nav>
</header>